body{
	font-size: 12px;
	font-family: '微软雅黑';
}
header{
	height: 80px;
	box-sizing: border-box;
	box-shadow: 0px 0px 6px #eee;
	margin-bottom: 2px;
}
.logo{
	height: 80px;
	line-height: 80px;
	vertical-align: center;
}
.nav{
	height: 80px;
	line-height: 80px;
	text-align: center;
}
.nav > li > a{
	color: #4c4c4c;
	font-size: 16px;
	font-family: '微软雅黑';
	padding: 0;
}
.nav > li > a:hover{
	border-bottom: 4px solid #0457B7;
	color: #0457B7;
	background-color: #fff;
}
.logandreg{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	justify-content: center;
	height: 80px;
}
.selectGroup{
	border-right: 1px solid #4c4c4c;
	padding: 0 10px;
}
.selectGroup select{
	font-size: 12px;
}
.loginIN{
	border-right: 1px solid #4c4c4c;
	padding: 0 10px;
	margin-right: 10px;
	position: relative;
}
.register{
	position: relative;
}
.logandreg a:hover{
	color: #7c7c7c;
}
.entry-type-wrap{
	position: absolute;
	left: -38px;
	top: 18px;
	z-index: 999;
	height: 70px;
	/*padding: 0 8px 8px 8px;*/
	padding: 8px;
	/*background-color: #eee;*/
	transform: translateY(6px);
	background: rgba(255,255,255,0.7);
	border: 1px solid #eee;
	display: none;
}
.triangle{
	width: 0;
	height: 0;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #eee;
	border-left: 10px solid transparent;
	position: absolute;
	top: -10px;
	left: 46px;
}

.entry-type li{
	/*background-color: #EC6C00;*/
	width: 94px;
	font-size: 12px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin-bottom: 2px;
}
.entry-type li a:hover{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #EC6C00;
	color: #fff;
}

.logandreg a {
	color: #4c4c4c;
	font-size: 12px;
}
.logandreg a:hover{
	text-decoration: none;
}
.news-title{
	font-size: 14px;
	color: #6E6E6E;
}
.news{
	width: 1200px;
	height: 80px;
	line-height: 80px;
	margin: 0 auto;
}
.news-item{
	font-size: 14px;
}
.s-round{
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #6E6E6E;
	border-radius: 50%;
	margin-right: 10px;
}
.seller{
	/*background-color: #F5F5F5;*/
	background-color: green;
	padding-bottom: 80px;
	margin-bottom: 40px;
}
.seller-wrap{
	width: 1200px;
	margin: 0 auto;
	padding-top: 56px;
}
.seller-title{
	color: #333;
	font-size: 40px;
	text-align: center;
	margin-bottom: 50px;
}
.identity{
	color: #0457B7;
}
.seller .item-content{
	width: 250px;
	height: 180px;
	background-color: #fff;
	border: 1px solid red;
}
.seller .item-title{
	font-size: 22px;
	color: #4D4D4D;
	text-align: center;
}
.seller .des{
	font-size: 12px;
	color: #C6C6C6;
	text-align: center;
}
.seller .branches{
	margin-top: 48px;
}
.seller .bg{
	width: 86px;
	height: 102px;
	margin: 0 auto;
	background: url(../image/index-icobg-01.png) no-repeat;
	background-position: 0 0;
}
.seller .bg.active{
	background-position: -86px;
}
.common-carousel{
	width: 1200px;
	background-color: red;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
#solution-carousel{
	height: 170px;
}
.common-carousel ul{
	width: 2340px;
	height: 200px;
	position: absolute;
	left: 0;
	top: 0;
}
.common-carousel ul > li{
	float: left;
}
.common-carousel ul > li .title{
	font-size: 22px;
	color: #4D4D4D;
	text-align: center;
}
#solution-carousel{
	margin-top: 50px;
}
.carouselActive{
	box-shadow: 0 2px 20px yellow;
	transform: scale(1.02);
	position: relative;

}
.common-carousel .btn{width: 30px;height: 50px;background: rgba(0,0,0,0.5);position: absolute;top: 50%;margin-top: -25px;cursor: pointer;
			text-align: center;line-height: 50px;color: #fff;font-size: 40px;font-family: "宋体";display: none;}
.common-carousel:hover .btn{display: block;}
.common-carousel .btn_l{left: 0;}
.common-carousel .btn_r{right: 0;}
.buyers{
	background-color: #fff;
}
.buyers-wrap{
	width: 1200px;
	margin: 0 auto;
}
.buyers h3{
	font-size: 40px;
	text-align: center;
}
.buyers-text{
	color: #0457B7;
}
.buyers .item{
	width: 100px;
	height: 100px;
	background-color: #E7E7E7;
	border-radius: 50%;
	margin: 0 auto;
}
.successfulCases{
	background-color: #F5F5F5;
}
.successfulCases-wrap{
	width: 1200px;
	height: 270px;
	margin: 0 auto;
	/*background-color: #fff;*/
	/* background-color: red; */
	text-align: center;
}
.successfulCases-wrap .text{
	color: #0457B7;
}
#Cases-carousel{
	height: 270px;
}
#Cases-carousel ul li{
	/*padding-right: 60px;*/
}
/* 页脚 */
.footer-top-wrap{
	background-color: #363636; 
}
.footer-top{
	width: 1200px;
	margin: 0 auto;
}
.footer-top > ul{
	display: flex;
	display: -webkit-flex;
	justify-content: right;
}
.footer-top > ul > li{
	flex: 1;
}
.footer-top-item .item-title{
	color: #fff;
	font-size: 20px;
}

.footer-top-item .item-content{
	font-size: 12px;
	color: #7A7A7A;
}
.partner{
	color: #7A7A7A;
	font-size: 12px;
}
.footer-bottom-wrap{
	background-color: #252525;
	height: 80px;
	line-height: 80px;
}
.footer-bottom{
	width: 1200px;
	margin: 0 auto;
	color: #3A3A3A;
	font-size: 12px;
}